body {
    font-family: 'Short Stack', cursive;
    padding: 3% 5%;
}

body a {
    color: brown;
    text-decoration: none;
}

nav ul {
    font-size: 25px;
    padding: 0px;
    list-style: none;
}

nav li {
    margin: 20px;
    display: inline;
}

nav {
    text-align: center;
}

h1.siteTitle {
    font-size: 50px;
    font-family: 'Caveat', cursive;
    text-align: center
}

.buttons {
    text-align: center;
}

.button {
    display: inline;
}

.button img {
    width: 100px;
    height: 100px;
}

@media (min-width: 600px) {
    .photo {
        float: left;
        padding: 0px 20px 20px 0px;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .photo {
        margin: auto;
        display: block;
        padding: 20px;
        width: 75%;
    }
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    text-align: right;
    color: darkgrey;
    font-size: x-small;
    border-top: 1px solid gray;
}

footer p {
    margin: 5px;
}